<nav class="navbar">
  <div class="nav-container">
    <div class="logo">
      <img src="..\assets\logo.png" alt="Logo" />
      <h3>
        <span>
            <div class='console-container'><span id='text'></span>
                <div class='console-underscore' id='console'>&#95;</div>
            </div>
        </span>
        
      </h3>
    </div>
    
    <div class="nav-links" [class.active]="mobileMenuOpen">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="closeMobileMenu()">Home</a>
      <a routerLink="/portfolio" routerLinkActive="active" (click)="closeMobileMenu()">Portfolio</a>
      <a routerLink="/contact" routerLinkActive="active" (click)="closeMobileMenu()">Contact</a>
    </div>
    
    <div class="hamburger" (click)="toggleMobileMenu()" [class.active]="mobileMenuOpen">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  
</nav>
  